div.form-control  {
  margin-top: 10px;
}

footer{
  padding-top: 60px;
  background-color: lightgrey;
}
#carousel-example-generic {
  float: left;
}
.trajet{
  font-weight: bold;
  text-align: center;
  margin-top: 2vh;
}
h1{
  text-align: center;
}
.form{
  float: right;
}
* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}
