.container-fluid{
  padding-top: 1vw;
}
.navbar-inverse{
  height: 12vh;
}
#title > img{
  height: 11vh;
  margin-top: -3vh;
}
#subscribe{
  color: yellow;
}
#connection{
  color: red;
}
.left-box{
  float: left;

}
.right-box{
  border: 2px ;
  height: 480px;width: 480px;
  float: right;
}

h1{
text-align: center;
text-decoration: underline overline #646970;
}
.trajet{
  font-weight: bold;
  font-size: 1.3vw;
  text-align: center;
}
.glyphicon-arrow-right{
  font-size: 4vw;
  margin-left: 3vw;
  margin-top: 4vw;
  position: absolute;
}
p .glyphicon-arrow-right{
  font-size: 1vw;
}
.mdroite{
  float: right;
}
footer{
  margin: auto 0;
  font-size: 18px;
  text-align: center;
  width: auto;
  height: 50vm;
  background-color: lightgrey;
 }
article {
  margin-bottom: 2em;
  display: inline;
  text-align: center;
}
#foot { letter-spacing: 8px;
  padding : 1.2em;
}

#googleMap {
  height: 300px;
  width: 95%;
  margin: 3% auto;
  border: 1px ;
  border-radius: 4px;
}

.top {
  background-color: lightgrey;
  z-index: 1;
  margin-top: 4vh;
  padding-bottom: 4vh;
}

.carousel-indicators{
  z-index: -1;
}
#fin{
  text-decoration: none;
  color: #646970;
}
p{
  font-weight: bold;
}
#formGroupExampleInput{
  width: 95%;
  font-style: italic;
}
.form-group{
margin-bottom: -2vh;
margin-left: 2%;
}
h4{
  text-align: center;
  font-weight: bold;
  margin-bottom: -1vh;
}
#secondaire{
  margin-top: 10vh;
}
.btn-primary{
  float: right;
  margin-top: 3vh;
}
